@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
img{
	max-width: 100%;
}
li{
	list-style: none;
}
a{text-decoration: none;}
.container{
    width: calc(100% - 100px);
    margin: auto;
    padding: 20px;
}
.banner-section{
    background: #aac5aa;
}

.align-center{
	align-content: center;
}

.justify-center{
	justify-content: center;
}

/*nav*/
.navbar-brand {
    width: 70px;
}
.navbar-brand img, svg {
    border-radius: 25%;
    filter: drop-shadow(2px 4px 6px black);
}

.navbar-light .navbar-nav .nav-link {
    display: block;
    color: rgb(86 73 77);
    font-weight: bolder;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    background: #275227;
}



/*signup form*/
.signup-section{}
.signup{
    width: 45%;
    flex: 0 0 auto;
    border-radius: 52px;
    background: #aac5aa;
    box-shadow: 2px 7px 20px 0px #444242, -5px -5px 24px #8da292;
    padding: 45px;
    transition-duration: 0.5s;
}
.signup strong{
	font-size: 18px
}
.signup a{
    text-decoration: none;
    font-weight: 600;
    color: #6233bf;
}
.signup .container{}


.signup:hover{
    box-shadow: 2px 7px 20px 0px #8da292, -5px -5px 24px #444242;
    padding: 45px;
}


form{}
form input,form textarea{
    width: 100%;
    padding: 10px 15px;
    border: 4px solid #333;
    border-radius: 16px;
    text-transform: capitalize;
    background: #fff;
    color: #333;
    margin-bottom: 10px;
}
form strong{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0px 10px;
}
form label{
    font-size: 18px;
    margin: 0px 5px;
    margin-bottom: 10px;
    display: inline-block;
}


form input[type="radio"],
form input[type="checkbox"]{
	width: auto;
	margin-right: 8px;
}
form input[type="submit"]{
	width: auto;
	background: #333;
	color: #fff;
	font-weight: 600;
}

form input[type="submit"]:hover{
	background: #fff;
    color: #333;
    font-weight: 600;
}
input:focus, textarea:focus{
	outline: none;
	background: #3c3939;
	color: white;
}

/*portfolio-section*/
.portfolio-section{}
.project{}
.col{
    width: 33.33%;
    padding: 20px;
    border-radius: 10px;
    flex: 0 0 auto;
}
.col h2{
    transform: translateY(-60px);
    padding: 10px;
    font-size: 18px;
    display: inline-block;
    background: #7bb392;
    border-radius: 2px;
}
.project a{}
.project img{
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 7px 20px 0px #444242, -5px -5px 24px #8da292;
}
.project img:hover{
    box-shadow: 2px 7px 20px 0px #8da292, -5px -5px 24px #444242;

}

/*About section*/
article{
    width: 80%;
    padding: 40px;
    box-shadow: 2px 7px 20px 0px #444242, -5px -5px 24px #8da292;
    margin: auto;
    border-radius: 20px;
}

article:hover{   
    box-shadow: 2px 7px 20px 0px #8da292, -5px -5px 24px #444242;

}
.about h1{
    color: #333;
    font-size: 32px;
    font-weight: 500;
}
.about p{
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0px;
}

.about strong{
    font-size: 30px;
    font-weight: 700;
}

/*footer*/
.col-4{
    width: 25%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
footer{
    background: #2b2b2d;
    color: white;
}
footer p{
    padding: 20px;
    text-align: left;
}
footer ul{ text-align: left;}
footer ul li{}
footer ul li a{
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    display: block;
}
footer ul li strong{
    color: #dff94e;
    font-size: 16px;
}

footer .flex{
    justify-content: center;
    padding: 5px;
}
footer strong{
    font-size: 15px;    
    font-weight: 100;
}

footer .col-4:hover{
    box-shadow: none;
}